body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container > a > img {
    width: 140px;
    padding-left: 173px;
    padding-bottom: 20px;
}

.container fieldset {
    border: 2px solid #8D0C00;
    border-radius: 8px;
    padding: 40px;
}

.container h4 {
    color: #8D0C00;
}

.texto {
    color: #8D0C00;
    text-decoration: none;
}

.texto-botao {
    color: #ffffff;
    text-decoration: none;
}

.btn {
    background-color: #8D0C00;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #710a01;
}