body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}   

nav {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  
.logo img {
    padding-left: 40px;
    width: 100px;
    height: auto;
}
  
.menu li {
    display: inline-block;
    margin-right: 60px;
}

.login-form fieldset {
    border: 2px solid #8D0C00;
    border-radius: 8px;
    padding: 40px;
}

.login-form legend {
    color: #8D0C00;
    font-size: 1.5em;
    padding: 0 10px;
}

.mb-3 {
    margin-bottom: 15px;
}


.text-center {
    text-align: center;
}

a {
    color: #8D0C00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    background-color: #8D0C00;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #8D0C00;
}


.form-label {
    display: block;
    margin-bottom: 5px;
    color: #8D0C00;
}

.form-control {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px; 
    font-family: sans-serif;
}
  
.menu a {
    text-decoration: none;
    color: #8D0C00;
    font-weight: bold;
    font-size: 20px;
}
  
.contact {
    display: flex;
}
  
.contact a {
    align-items: center;
    margin-right: 50px;
    text-decoration: none;
}
  
.contact img {
    width: 150px;
}
  
form {
    color: #8D0C00;
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 60%;
    max-width: 550px;
}

.campo {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px; 
    font-family: sans-serif;
}

.perfil {
    padding-top: 70px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
}

.perfil > h1 {
    padding-left: 20px;
}

.btn-enviar button {
    color: #fff;
    padding: 4px 20px 4px;
    font-size: 15px;
    font-weight: 600;
    background-color: #8D0C00;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}


.base {
    display: flex;
    background-color: #8D0C00;
}

.footer {
    background-color: #540902;
    color: #fff;
    padding: 10px;
    text-align: center;
}
  
.copyright p {
    margin: 0;
    font-size: 14px;
}
  
.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.links li {
    display: inline-block;
    margin-right: 15px;
}
  
.links a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
  
.agradecimento {
    padding-top: 130px;
    color: #8D0C00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agradecimento > h2 {
    padding: 0px;
}

hr, a {
    color: #8D0C00 ;
}