@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400; 0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
}
nav{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo img {
    padding-left: 40px;
    width: 100px;
    height: auto;
}
.menu li {
    display: inline-block;
    margin-right: 60px;
}

.menu a{
    text-decoration: none;
    color: #8D0C00;
    font-weight: bold;
    font-size: 20px;
}
.contact{
    display: flex;
}
.contact a{
    align-items: center;
    margin-right: 50px;
    text-decoration: none;
}
.contact img{
    width: 150px;
}
form{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 60%;
    max-width: 550px;
} 

.campo{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 16px;
    font-family: sans-serif;
}

.perfil{
    padding-top: 70px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    background-image: url(../img/JPESPECTROS_TREINO_SABADO_ANDERSONSILVA-111.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
}

.perfil > h1{
    padding-left: 20px;
}
.btn-agende button{
    background-color: #41b010;
    color: #fff;
    padding:7px 20px 7px;
    font-size: 15px;
    font-weight: 100;
    border: 0;
    border-radius:7px;
    cursor: pointer;

}
.btn-enviar button{
    color: #fff;
    padding: 4px 20px 4px;
    font-size: 15px;
    font-weight: 600;
    background-color: #8d0c00;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}



.base {
    display: flex;
    background-color: #8D0C00;
}

.footer {
    background-color: #540902;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.copyright p {
    margin: 0;
    font-size: 14px;
}

.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links li {
    display: inline-block;
    margin-right: 15px;
}

.links a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.agradecimento {
    padding-top: 130px;
    color: #8D0C00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agradecimento > h2 {
    padding: 0px;
}

hr, a {
    color: #8D0C00 ;
}