@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400; 0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
nav{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo img {
    padding-left: 40px;
    width: 100px;
    height: auto;
}
.menu li {
    display: inline-block;
    margin-right: 60px;
}

.menu a{
    text-decoration: none;
    margin-right: 60px;
}
.contact{
    display: flex;
}
.contact a{
    align-items: center;
    margin-right: 50px;
    text-decoration: none;
}
.contact img{
    width: 150px;
}
.conteudo-informativo-escrito{
    font-family: 'mulish', sans-serif;
    text-align: center;
    color: #545454;
}

.conteudo-principal-foto-escrito-botao{
    background-color:#41b010;
    border: none;
    text-decoration: underline;
    position:absolute;
    top:70%;
    left:50%;
    height: 29px;
    width: 150px;
    transform: translate(-50%, -50%);
    padding-top: 4px;
    border-radius: 5px;
    font-family: "mulish", sans-serif;
    font-size: 11px;
    line-height: 2px;
    font-weight: 100%;
}
button.conteudo-principal-escrito-subtitulo{
    display: flex;
    width: auto;
    top: 50px;
    color: #545454;
    font-weight: bold;
}
/* teste: */
.conteudo-principal-photo{
    display: grid;
    flex-direction: column;
    justify-items: center;
    border: none;
    border-radius: 10px;
    background-color: white;
    margin: 30px 80px 30px;
}
.conteudo-principal-photo>div:nth-child(n + 1){
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}
.conteudo-principal-photo>#pk{
    grid-column: 1;
    grid-row: 2 / 1;
}
/* acima é um teste */
.conteudo-informativo-subtitulo{
    font-family: 'mulish', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #3c3c3c;
    
}
.conteudo-principal-botao{
    border-radius: 5px;
    border: none;
    height: 30px;
    font-family: 'mulish', sans-serif;
    font-weight: 500;
    color:#ffffff;
    background-color:#8d0c00;
    width: 120px;
}

.conteudo-secundario{
    background-color: #8d0c00;
}

.conteudo-secundario-escrito{
    padding: 12px;
    font-family: 'mulish', sans-serif;
    text-align: center;
    color: #ffffff;
}
.conteudo-secundario-escrito-titulo{
    font-family: 'mulish',sans-serif;
    text-align: center;
    color: #ffffff;
}
.conteudo-secundario-escrito-subtitulo{
    font-family: 'mulish', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}
/*body {
    background-image: url(/img/bolanocampo.jpg);
    
    color: #333; /* cor do texto */

.container {
    padding-top: 50px;
}
.bg-athletic {
    background-color: #803235; /* cor de fundo alegre e atlética */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.base {
    display: flex;
    background-color: #8D0C00;
}

.footer {
    background-color: #540902;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.copyright p {
    margin: 0;
    font-size: 14px;
}

.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links li {
    display: inline-block;
    margin-right: 15px;
}

.links a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.agradecimento {
    padding-top: 130px;
    color: #8D0C00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agradecimento > h2 {
    padding: 0px;
}

hr, a {
    color: #8D0C00 ;
}