@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400; 0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.cabecalho-menu{
    background-color:#ffffff;
}

div#f001{
    display: flex;
    background-image: url("img/JPESPECTROS_TREINO_SABADO_ANDERSONSILVA-111.jpg");
    background-repeat: repeat-y;
    position: relative;
    height: 35vh;
    width: 100vw;
    background-size: cover;
    background-position: 10% 160%;
    border: 1px dashed black;
}
.cabecalho-menu-item{
    font-family: 'mulish', sans-serif;
    color: #901919;
    font-weight: 400;
    position: sticky;
    top: 20px;
    left: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#x2{
    font-family: 'mulish', sans-serif;
    color: #ffffff;
    font-size: 30px;
    line-height: 95%;
    font-weight: 600;
    position: absolute;
    padding-left: 580px;
/* isso é apenas para marcação -> */
    border: 1px dashed black;

}
#x3{
    display: flex;
    font-family: 'mulish', sans-serif;
    font-weight: 400;
    text-align: center;
    color: white;
    position: relative;
    justify-items: stretch;
    align-items: center;
    height: 5vh;
    width: 19vw;

    /* isso é apenas para marcação -> */
    border: 1px dashed black;

}
.conteudo-informativo-escrito{
    font-family: 'mulish', sans-serif;
    text-align: center;
}
.conteudo-principal-foto-escrito-botao{
    color: #ffffff;
    background-color:#41b010;
    display: flex;
    border: none;
    height: 30px;
    border-radius: 5px;
    margin: 0 auto;
    font-family: "mulish", sans-serif;
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    position: relative;
    width: 185px;
}
button.conteudo-principal-escrito-subtitulo{
    display: flex;
    width: auto;
    top: 50px
}
.conteudo-informativo-subtitulo{
    font-family: 'mulish', sans-serif;
    font-weight: 400;
    text-align: center;
}
.conteudo-principal-botao{
    border-radius: 5px;
    border: none;
    height: 30px;
    font-family: 'mulish', sans-serif;
    font-weight: 500;
    color:#ffffff;
    background-color:#8d0c00;
}
.conteudo-secundario-escrito{
    font-family: 'mulish', sans-serif;
    text-align: center;
}
.conteudo-secundario-escrito-titulo{
    font-family: 'mulish',sans-serif;
    text-align: center;
}
.conteudo-secundario-escrito-subtitulo{
    font-family: 'mulish', sans-serif;
    font-weight: 400;
    text-align: center;
}
.rodape{
}