@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400; 0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.cabecalho-menu{
    background-color:#ffffff;
}
.cabecalho-menu-item{
    font-family: 'mulish', sans-serif;
    color: #8d0c00;
    font-weight: 400;
    position: sticky;
    top: 20px;
    left: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.conteudo-principal-escrito{
    font-family: 'mulish', sans-serif;
	margin: 0 auto;
	display: flex;
    text-align: center;
    margin-top: 25px;
    color: #7b1919;
    font-size: 30px;
    line-height: 95%;
    font-weight: 600;
    position: relative;
    left: calc(50% - 256px);
    top: calc(50% - 64.5px);
    width: 405px;
    }
.conteudo-principal-escrito-subtitulo{
    text-align: center;
    max-width: 250px;
	margin: 8px;
	display: flex;
}
.conteudo-principal-escrito-subtitulo{
    font-family: 'mulish', sans-serif;
    font-weight: 400;
    text-align: center;
}
.conteudo-informativo-escrito{
    font-family: 'mulish', sans-serif;
    text-align: center;
}
.conteudo-principal-foto-escrito-botao{
    color: #ffffff;
    background-color:#41b010;
    display: flex;
    border: none;
    height: 30px;
    border-radius: 5px;
    margin: 0 auto;
    font-family: "mulish", sans-serif;
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    position: relative;
    width: 185px;
}
button.conteudo-principal-escrito-subtitulo{
    display: flex;
    width: auto;
    top: 50px
}
.conteudo-informativo-subtitulo{
    font-family: 'mulish', sans-serif;
    font-weight: 400;
    text-align: center;
}
.conteudo-principal-botao{
    border-radius: 5px;
    border: none;
    height: 30px;
    font-family: 'mulish', sans-serif;
    font-weight: 500;
    color:#ffffff;
    background-color:#8d0c00;
}
.conteudo-secundario-escrito{
    font-family: 'mulish', sans-serif;
    text-align: center;
}
.conteudo-secundario-escrito-titulo{
    font-family: 'mulish',sans-serif;
    text-align: center;
}
.conteudo-secundario-escrito-subtitulo{
    font-family: 'mulish', sans-serif;
    font-weight: 400;
    text-align: center;
}
.rodape{
}